.pagination {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.pagination li {
  display: flex;
}

.pagination li a {
  display: flex;
  min-width: 35px;
  min-height: 35px;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: #fff;
  border: 1px solid #e1e1e1;
  border-right-width: 0;
}

.pagination li.active a {
  color: #fff;
  background-color: #019c2b;
}

.pagination li.disabled a {
  opacity: 0.5;
  cursor: not-allowed;
}

/* Style the active class (and buttons on mouse-over) */
.pagination li:not(.disabled) a:hover {
  background-color:  #00c837;
  color: white;
}

.pagination li:focus,
.pagination li a:focus {
  outline: none;
}

.pagination li:first-child a {
  padding: 0 15px 0 15px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.pagination li:last-child a {
  padding: 0 15px 0 15px;
  border-right-width: 1px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}
